{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshop list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Instructor</th>
                <th>Excerpt</th>
                <th>Resources</th>
                <th>Comments</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr>
                <td><a href="{{ path('api_workshop_show', { 'id': workshop.id }) }}">{{ workshop.id }}</a></td>
                <td>{{ workshop.title }}</td>
                <td>{{ workshop.description }}</td>
                <td>{{ workshop.instructor }}</td>
                <td>{{ workshop.excerpt }}</td>
                <td>{% if workshop.resources %}{{ workshop.resources|join(', ') }}{% endif %}</td>
                <td>{% if workshop.comments %}{{ workshop.comments|join(', ') }}{% endif %}</td>
                <td>{% if workshop.createdAt %}{{ workshop.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workshop.updatedAt %}{{ workshop.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('api_workshop_show', { 'id': workshop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('api_workshop_edit', { 'id': workshop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('api_workshop_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
